<!DOCTYPE html>
<html>
<head>
	<!-- Navbar -->

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Blog's Pit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      
      
</nav>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		.main{
			margin-top: 100px;
			height:350px; 
			width:350px;
		}
		
		
		.main p {
			margin-left:500px;
		}

		.main img {
			margin-top: -50px;
		}

		.main h1{
			margin-top:-50px;
		}
	</style>
	<title>The Paneer Recipie</title>
</head>
<body>
<div class="main">
	<center><h1>The Paneer Recipie</h1></center>
<img src="images/food_news_1.jpg">

	</div>

	<p>If you are someone who loves to explore regional Indian cuisines, you would be well-versed with the many regional cuisines of south India. The south Indian region has a repertoire of delicacies that differs in everything, from flavour to texture, depending upon the state. Chettinad cuisine, for instance, is from the chettinad region of Tamil Nadu that boasts of some brilliant delicacies. The cuisine is deemed to be one of the spiciest in India and is known for the complexity of flavours. One of the distinct qualities of the dishes in chettinad is that it uses freshly ground local spices such as star anise, kalpasi (stone flower) and maratti mokku (dried flower pods).
	</p>

	<p>Chettinad cuisine has a string of non-vegetarian dishes to its credit and due to the vast coastline, seafood adorns many dinner tables in the region, but that does not let the vegetarian specialities shy away. While chicken chettinad or chettinad fish fry might be the star dishes, mushroom chettinad is sure to please the taste buds.</p>

</body>
</html>